[run]
# include = ./src/* 
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit utest
    ./utest/*
    # robot library
    ./src/robotide/lib/robot/*
    */.venv/*
