tmp
build
dist
.idea
.vscode
.*project
*.pyc
*$py.class
results
src/robotframework_ride.egg-info
RIDE.wiki
.DS_Store
.spyderworkspace
rfgen.py
MANIFEST
*.iml
.coverage
coverage.xml
utest/resources/fake.cfg
*.po~
