language: python
dist: bionic
services:
  - xvfb
before_install:
  - sudo apt-get install python-pyatspi libsdl2-dev
  # In normal circunstances we would just do "pip install wxPython"
  #- pip install https://wxpython.org/Phoenix/snapshot-builds/linux/gtk3/ubuntu-14.04/wxPython-4.0.0a3.dev3059+4a5c5d9-cp27-cp27mu-linux_x86_64.whl
  - pip install $WXPACK
install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install .
matrix:
  include:
    - python: "3.6"
      env:
        - WXPACK=https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-18.04/wxPython-4.0.7.post2-cp36-cp36m-linux_x86_64.whl
    - python: "3.7"
      env:
        - WXPACK=https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-18.04/wxPython-4.0.7.post2-cp37-cp37m-linux_x86_64.whl
script:
  - invoke test
