include *.bmp
include *.py
include *.rest
include *.sh
include *.txt
recursive-include src *.css *.js *.py *.robot *.txt *.png *.gif *.ico *.cfg *.html
recursive-include doc *.rst
recursive-include rtest *.py *.txt
