setuptools >= 65.5.1
mockito
invoke
github3.py
memory-profiler
pylint
pytest
pytest-cov
# To make a relase you need asciidoc3 (a2x3)
# asciidoc3
# Include also normal project requirements.
-r requirements.txt

