wxPython
# Pygments # You will not see text syntax highlighted in Text Editor
robotframework
# Pypubsub 4.0.0 does not support Python 2.7
# Pypubsub # Uncomment this one if your are on Python 3+ and delete next line
Pypubsub==3.3.0 # You will see deprecation warning
# Only for Windows to have a shortcut created (install before RIDE)
#Pywin32
